.hot-locations {
  width: 100%;
  float: left;
  padding: 0 30px 0 30px;
  margin: 0 0 50px 0;
  @include breakpoint(mdDown) {
    padding: 0 20px 0 20px;
  }
  .slick-slide {
    margin: 0 5px!important;
    height: 250px!important;
  }
  .slick-slider {
    height: 250px;
    text-align: center;
  }
  &__item {
    font-size: 14px;
    font-family: $fontFamily;
    font-weight: 700;
    border-radius: 4px;
    outline: none;
    opacity: 0.8;
    background-color: #f0f0f0;
    position: relative;
    width: 400px;
    height: 250px;
    overflow: hidden;
    cursor: pointer;
    @include breakpoint(smDown) {
      width: 250px;
      height: 250px;
    }
    :hover {
      background: rgba(0,0,0,0.4);
    }
    &__title {
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      position: absolute;
      z-index: 200;
      text-align: center;
      line-height: 250px;
      color: #fff;
      font-family: $fontFamily;
      font-size: 40px;
      @include breakpoint(smDown) {
        font-size: 30px;
      }
    }
    &__image {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      &__background {
        width: 100%;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 100;
        background: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(60, 60, 60, 0.3), rgba(0, 0, 0, 0.6)) repeat scroll 0 0 transparent;
        background: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(60, 60, 60, 0.3), rgba(0, 0, 0, 0.6)) repeat scroll 0 0 transparent;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0,0, 0.3), rgba(0, 0,0, 0.6)) repeat scroll 0 0 transparent;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(255, 255, 255, 0)', endColorstr='rgba(0, 0, 0, 0.6)', GradientType=0);
        position: absolute;
      }
      img {
        height: 100%;
        width: 100%;
        z-index: 10;
        object-fit: cover;
        margin: auto;
        position: relative;
      }
    }
  }
  &__prev__arrow, &__next__arrow {
    background: rgba(0,0,0, 0.4);
    width: 50px;
    height: 50px;
    left: -25px;
    top: 100px;
    position: absolute;
    z-index: 300;
    cursor: pointer;
    border-radius: 50%;
    @include breakpoint(mdDown) {
      left: -15px;
    }
    svg {
      width: 30px;
      height: 30px;
      margin: 10px 0;
      fill: #fff;
    }
  }
  &__next__arrow {
    right: -25px;
    left: unset;
    @include breakpoint(mdDown) {
      right: -15px;
    }
  }
}
