.broker-view {
  width: 100%;
  margin: 30px 0 0 0;

  &__title {
    width: 100%;
    font-size: 23px;
    font-family: $fontFamily;
    font-weight: 900;
    color: $baseColor;
  }
}

.card {
  &__img {
    width: 100%;
    height: 150px;
    border-radius: 3px;
    margin-bottom: 5px;

    img {
      width: 100%;
    }
  }

  &__content {
    &__title {
      &__text {
        font-weight: 600;
        color: black;
      }

      &__icon {
        color: $color-blue;
      }
    }

    &__location {
      font-size: 0.85rem;
      margin: 5px 0;

    }

    &__bottom {
      font-size: 0.85rem;
    }
  }
}

.card-broker {
  outline: none;
  text-align: center;
  background-color: #f0f0f0;
  border-radius: 4px;
  &__img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: auto;
    outline: none;
    img {
      width: 100%;
      margin: 15px 0 15px 0;
    }
  }

  &__rate {
    &__icon {
      color: $color-blue;
    }
  }

  &__name {
    margin: 5px 0;
  }


  &__projects {
    border: 1px solid $color-blue;
    padding: 2px 10px;
    border-radius: 3px;
  }
}

.card-keysearch {
  padding: 20px;
  text-align: center;
  border-radius: 3px;
  color: $color-white;
}

.bg-blue-dark {
  background: $color-blue-dark;
}

.bg-blue {
  background: $color-blue;
}

.bg-purple {
  background: $color-purple;
}
