.pagination {
  width: 100%;
  &__block {
    width: 100%;
    text-align: center;
    &__next, &__prev {
      height: 50px;
      border: 2px $baseColor solid!important;
      border-radius: 30px!important;
      font-weight: 900!important;
      font-family: $fontFamily;
      font-size: 14px!important;
      line-height: 48px!important;
      padding: 0 20px 0 20px!important;
      cursor: pointer;
      margin: 0 5px 20px 5px!important;
      svg {
        width: 20px;
        height: 20px;
        fill: #fff;
      }
    }
    &__prev {
      color: $baseColor!important;
      background-color: #fff!important;
      &:hover {
        color: #fff!important;
        background-color: $baseColor!important;
        svg {
          fill: #fff!important;
        }
      }
      svg {
        fill: $baseColor;
        margin: 0 5px 1px 0!important;
      }
    }
    &__next {
      color: #fff!important;
      background-color: $baseColor!important;
      svg {
        fill: #fff!important;
        margin: 0 0 1px 5px!important;
      }
    }
  }
}
