.keyword-search {
  width: 100%;
  float: left;
  padding: 0 30px 0 30px;
  margin: 0 0 50px 0;
  @include breakpoint(mdDown) {
    padding: 0 20px 0 20px;
  }
  .slick-slide {
    margin: 0 5px!important;
    height: 80px!important;
    min-width: 150px;
  }
  .slick-slider {
    height: 80px;
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
  }
  &__heading {
    width: 100%;
    font-family: $fontFamily;
    font-weight: 900;
    font-size: 20px;
    color: $baseTitleColor;
    margin: 10px 0 20px 0;
  }
  &__item {
    font-size: 14px;
    font-family: $fontFamily;
    font-weight: 700;
    color: $baseTitleColor;
    border-radius: 4px;
    outline: none;
    opacity: 0.8;
    height: 80px;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background: #e0e0e0;
    cursor: pointer;
  }
  &__prev__arrow, &__next__arrow {
    background: rgba(221, 221, 235, 0.664);
    width: 30px;
    height: 80px; // Chiều cao cái bóng đen next, prev 
    left: 0;
    top: 0;
    position: absolute;
    z-index: 300;
    cursor: pointer;
    border-radius: 50%;
    svg {
      width: 30px;
      border-radius: 10px;
      height: 60px; // hiêu cao 2 icon next, prev
      margin: 10px 0;
      fill: #fff;
    }
  }
  &__next__arrow {
    right: 0;
    left: unset;
  }
}

