.aboutus-area {
  padding: 20px;
  &__title {
    text-align: center;
    margin-bottom: 30px;
    color: $baseTitleColor;
  }

  &__card {
    text-align: center;
    border-radius: 10px;
    padding: 30px 20px;
    border: 1px #f0f0f0 solid;
    @include breakpoint(mdDown) {
      min-height: 245px;
    }
    &:hover{
      box-shadow: 1px 1px 6px 2px #aaa3;
      transition:0.2s ease-in-out;
    }

    &__image {
      width: 100px;
      height: 100px;
      overflow: hidden;
      border-radius: 50%;
      margin: 0 auto;
      margin-bottom: 15px;
    }

    &__name{
      font-size: 16px;
      font-weight: 900;
      color: $baseTitleColor;
      line-height: 1.5;
    }
    &__position {
      color: #3E3E3E;
      font-size: 14px;
    }
  }
}
